<header class="header">

    <div class="col-sm-12">
        <div class="row ">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a routerLink="/shop/landing"><img style="max-width: 50%;" src="/assets/images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li [class.active]="url === '/shop/landing'"><a routerLink="/shop/landing" (click)="toggleNav('/shop/landing')">Home</a></li>
                        <li [class.active]="url === '/shop/cart'"><a routerLink="/shop/cart" (click)="toggleNav('/shop/cart')">Cart</a></li>
                        <li [class.active]="url === '/shop/checkout' || url === '/shop/order' || url === '/shop/checkout'"><a>View Product</a>
                            <ul class="header__menu__dropdown">
                                <li [class.active]="url === '/shop/order'"><a routerLink="/shop/order" (click)="toggleNav('/shop/order')">Brand</a></li>
                                <li [class.active]="url === '/shop/checkout'"><a routerLink="/shop/checkout" (click)="toggleNav('/shop/cart')">Category</a></li>
                                <li [class.active]="url === '/shop/checkout'"><a routerLink="/shop/checkout" (click)="toggleNav('/shop/checkout')">Vendors</a></li>
                            </ul>
                        </li>
                        <li [class.active]="url === '/shop/order'"><a routerLink="/shop/order" (click)="toggleNav('/shop/order')">Order</a></li>
                        <li *ngIf="customerDetails != null" [class.active]="url === '/shop/profile' || url === '/shop/customer-login' "><a routerLink="/shop/landing" (click)="toggleNav('/shop/landing')">My Profile</a></li>
                        <li *ngIf="customerDetails == null" [class.active]="url === '/shop/customer-login' "><a routerLink="/shop/customer-login" (click)="toggleNav('/shop/customer-login')">Login</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li *ngIf="customerDetails != null"><a routerLink="/shop/landing" (click)="resetCustomerCart();"><i class="fa fa-sign-out"></i></a></li>
                        <li><a routerLink="/shop/cart"><i class="fa fa-shopping-bag"></i> <span>{{cartItemsCount}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">Total: <span>LKR {{cartItemTotal}}</span></div>
                </div>
            </div>

        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer spad ">
    <div class="container">
        <div class="row ">
            <!-- <div class="mx-2"> -->
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <div class="footer__about ">
                    <div class="footer__about__logo ">
                        <a href="../shop/landing "><img src="/assets/images/logo.png" alt=" "></a>
                    </div>
                    <ul>
                        <li>Address: 168/3 Ward Place, Colombo 07</li>
                        <li>Phone: +94 76 902 7668</li>
                        <li>Email: info@day2day.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1 ">
                <div class="footer__widget ">
                    <h6>More Information</h6>
                    <ul>
                        <li><a href="# ">About Us</a></li>
                        <li><a href="# ">About Our Shop</a></li>
                        <li><a href="# ">Secure Shopping</a></li>
                        <li><a href="# ">Delivery infomation</a></li>
                        <li><a href="# ">Testimonials</a></li>
                        <li><a href="# ">Become a Vendor</a></li>
                        <li><a href="# ">Our Vendors</a></li>

                    </ul>
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="footer__widget ">
                    <h6>Promotions</h6>
                    <p>Get E-mail updates about our latest promotions and special offers.</p>

                    <form action="# ">
                        <!-- <input type="text" [(ngModel)]="subscribeEmail" [ngModelOptions]="{standalone: true}" (click)="offerSubscribe()" placeholder="Enter your mail "> -->
                        <input type="text"  placeholder="Enter your mail ">
                        <button type="submit " class="site-btn ">Subscribe</button>
                    </form>
                    <h6>Support Us</h6>

                    <div class="footer__widget__social ">
                        <a href="# "><i class="fa fa-facebook "></i></a>
                        <a href="# "><i class="fa fa-instagram "></i></a>
                        <a href="# "><i class="fa fa-twitter "></i></a>
                        <a href="# "><i class="fa fa-pinterest "></i></a>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="row ">
            <!-- <div class="mx-2"> -->
            <div class="col-lg-12 ">
                <div class="footer__copyright ">
                    <div class="footer__copyright__text ">
                        <p>
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This site is developed by Team Enigma

                        </p>
                    </div>
                    <!-- <div class="footer__copyright__payment "><img src="/assets/organi/img/payment-item.png " alt=" "></div> -->
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</footer>